h1 {
    color: black;
    text-align: center;
    font-family: cursive;
}

p, input, button, label {
    font-family: cursive;
}

#mainContainer {
    display: grid;
    margin: auto;
    border: 1px solid black;
    width: 560px;
    height: 560px;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
    }

.grid-object {
    padding: 1em;
    border: 1px solid #ddd;
    display: grid;
    padding: 0px;
    margin: 0px;
}

#buttonContainer {
    text-align: center;
}

footer {
    text-align: center;
}