h1 {
    color: green;
    text-align: center;
}

#mainContainer {
    display: grid;
    margin: auto;
    border: 1px solid black;
    width: 560px;
    height: 560px;
    text-align: center;
    overflow: hidden;
    }

.grid-object {
    padding: 1em;
    border: 1px solid #ddd;
}

#buttonContainer {
    text-align: center;
}