h1 {
    color: green
}

/* .flex-container {
    display: flex;
    flex-wrap: row;
    background-color: dodgerblue;
} */

.flex-container>div {
    background-color: #f1f1f1;
    width: 25px;
    margin: 0px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}